.Task {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Back{
    margin-bottom: 10px;
}

.Comment{
    margin: 10px;
}


.taskTitle {
    font-size: 14px;
   
}


@media (max-width: 430px) {
    .taskTitle {
        font-size: 12px;
        
    }
}